<!DOCTYPE html>
<html>

<head>
    <title>{{ .title }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


</head>

<body>
    <!--Intro banner at front page-->
    <div>
        <button onclick="getResponse();">{{.btnName}}</button>
        <div id="responseField"></div>
    </div>
    <form>
        <input type="text" id="first" placeholder="firstname" name="first"></input>
        <input type="text" id="last" placeholder="lastname" name="last"></input>
        <input type="submit" onclick="return send_form();"></input>
    </form>

    <script type="text/javascript" src="/static/index.js"></script>
</body>

</html>